
*.xml
practice1/task12_game/__pycache__/user_bot.cpython-36.pyc
*.pyc
*.iml
.idea/mirea_python.iml
.idea/mirea_python.iml
practice2/task10_parse.py
practice2/task10_parse.py
practice2/task10_parse.py
practice3/task8.py
kispython/task9_melonmusic.py
kispython/task9_melonmusic.py
